body {
    font-family: 'Arial Black', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-image: radial-gradient(circle at center, #ffeb3b, #ff9800, #ff5722);
    }
    
    .quiz-container {
    max-width: 600px;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
    text-align: center;
    }
    
    h1 {
    font-size: 48px;
    margin-bottom: 30px;
    color: #2c3e50;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    }
    
    .btn {
    display: block;
    width: 100%;
    padding: 15px;
    margin-top: 20px;
    text-align: center;
    color: #fff;
    background-color: #4caf50; /* couleur de fond par défaut pour tous les boutons */
    border: 2px solid #388e3c; /* couleur de la bordure par défaut pour tous les boutons */
    border-radius: 25px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    }

    .btn:hover {
    opacity: 0.9;
    }

    /* Style spécifique pour le bouton "Commencer le Quiz" */
    .btn.btn-start {
    background-color: #4caf50;
    border: 2px solid #388e3c;
    }

    /* Style spécifique pour les boutons de réponse */
    .btn-option:nth-child(2n) {
    background-color: #ff5722;
    border: 2px solid #e64a19;
    }

    .btn-option:nth-child(3n) {
    background-color: #2196f3;
    border: 2px solid #1976d2;
    }

    .btn-option:nth-child(4n) {
    background-color: #9c27b0;
    border: 2px solid #7b1fa2;
    }